*{
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  background-color: white;
}

#animated-text{
  text-align: center;
}

.click{
  color: white;
  font-family: 'Poppins', sans-serif;
  top : 13%;
  left: 48%;
  position: absolute; /* Ensures the content is not revealed until the animation */
  font-size: 30px;
}

.animation{
  font-family: 'Poppins', sans-serif;
  white-space: nowrap;
  position: relative;
  padding: 10px;
  margin-left: -26%; /* Gives that scrolling effect as the typing happens */
  font-size: 30px;
}



.sendlanding{
  color:white;
  text-decoration:none;
}

h3{
  font-size: 20px;
}

.canvascontainer{
  position: relative;
}

.start{
  width: 100%;
  height: 100%;
  background-position: center;
}

h1{
  color: black;
  font-size: 4rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
